$primary: #ff4400;

$font-base: "Helvetica Neue", Helvetica, sans-serif;
$font-special: "Helvetica Neue", Helvetica, sans-serif;

$spacer: 50px;

$danger: #ff0000;
$success: #00bb88;
$info: #00aaff;
$grey: #888888;
$lightgrey: #cccccc;

.header {
  border: 5px solid $primary;
  padding: $spacer;
  margin-bottom: $spacer;
    &__title {

    color: $primary; //barva pisma
    font: $font-special;
    margin: 0;
  }
    &__menu {

    list-style-type: none;
    padding: 0;
  }
    &__link {

    background-color: $primary;
    color: white;
    margin-bottom: $spacer / 2;
    display: block;

        &:hover{
            background-color: #ff88ff;
        }

}

    .header:hover {
      background-color: blue;
    }

  }

a {
  background-color: $primary;
  color: white;
  padding: $spacer;
  margin-bottom: $spacer / 2;
  display: block;
 

  &:visited {
    color: gray;
  }

  &:focus,
  &:hover {
    background-color: orange;
    color: white;
  }
  &:active {
    background-color: blue;
  }

}

footer {
  margin-top: $spacer;
  padding: $spacer;
  background-color: hotpink;
  color: white;

  @media (min-width: 700px) {
    background-color: blue;
    height: 60px;
  }

  @media (min-width: 900px) {
    background-color: green;
    height: 80px;
  }
}

body {
  font-family: $font-base;
}

button {
  background-color: $primary;
  color: white;
}

button {
  font-family: $font-special;
  color: white;
  background-color: $primary;
  padding: $spacer / 2;
}

:root {
  --primary: #ff88ff;
  --rozestup: 20px;
}

/*komentář v css
na více řádků
*/
//barva pisma žlutá - komentář v scss
