$primary: #ff4400;

$font-base: 'Helvetica Neue', Helvetica, sans-serif;
$font-special: Impact, sans-serif;

$spacer: 30px;



$danger: #ff0000;
$success:#00bb88;
$info: #00aaff;
$grey:#888888;
$lightgrey:#cccccc;

header{
    border: 5px solid $primary;
    padding: $spacer;
    margin-bottom:$spacer;
}


body{
    font-family:$font-base;
}

h1{
    color:$primary;//barva pisma
    font:special;
    margin:0;
}

button{
background-color:$primary;
color:white;
 }

button{
   font-family: $font-special; 
   color:white;
   background-color: $primary;
   padding: $spacer / 2;
}

:root{
   --primary: #ff88ff;
   --rozestup: 20px;
}
   
h1{
    color: var(--primary); 
    padding: var(--rozestup);
    margin: calc(50px / 2);
}


/*komentář v css
na více řádků
*/
//barva pisma žlutá - komentář v scss

