@charset "UTF-8";
header {
  border: 5px solid #ff4400;
  padding: 30px;
  margin-bottom: 30px;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  color: #ff4400;
  font: special;
  margin: 0;
}

button {
  background-color: #ff4400;
  color: white;
}

button {
  font-family: Impact, sans-serif;
  color: white;
  background-color: #ff4400;
  padding: 15px;
}

:root {
  --primary: #ff88ff;
  --rozestup: 20px;
}

h1 {
  color: var(--primary);
  padding: var(--rozestup);
  margin: 25px;
}

/*komentář v css
na více řádků
*/